.navbar-brand {
    font-size: 1.5rem;
}

.navbar>.container-fluid {
    border-top: 2px solid #000;
    border: 2px solid #000;
    border-radius: 5rem;
    padding-left: 2rem;
}

.search {
    align-self: center;
    padding-bottom: 0.9rem;
}

.search-icon {
    margin-left: 2rem;
}

.nav-link {
    font-family: 'Lato';
    font-size: 1.1rem;
    font-weight: 300;   
    color: #000;
    border-left: #000 1px solid;
    padding-left: 2rem !important; 
    padding-right: 2rem !important;
}

.navbar {
    margin-left: 2rem;
    margin-right: 2rem;
}

img {
    scale: 1.5;
}

#logo {
    border-radius: 50%;
    margin: auto;
    scale: 2.5;
}