.contact-heading {
    color: #000;
    font-family: Abril Fatface;
    font-size: 3.75106rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-bottom: 0.7rem;
}

.contact-us {
    margin-top: 5rem;
}

.contact-subheading {
    font-size: 1.2rem;
}

.contact-info {
    margin-top: 1rem;
    width: 50%;
    float: left;
}

.address-text {
    color: #000;
    font-family: Lato;
    font-size: 1.4375rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 0;
}

.address {
    margin-top: 2rem;
    color: #000;
    font-family: Lato;
    font-size: 1.4375rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

body {
    background-image: url("/public/Ellipse4.svg"), url("/public/Ellipse5.svg"), url("/public/Vector13.svg");
    background-repeat: no-repeat;
    background-position-y: 30%, 70%, 100%;
    background-position-x: 0, 100%, 50%;
}

.form-control {
    margin-top: 1rem;
    padding-left: 2rem;
    border-radius: 4rem;
    height: 4rem;
}

.form-control:focus {
    border-color: #000;
    box-shadow: none;
}

.form-control::placeholder {
    font-family: Lato;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.button {
    margin-top: 1rem;
}