.heading {
    color: #000;
    font-family: Abril Fatface;
    font-size: 3.24213rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    margin-top: 5rem;
}

div.dot-row {
    margin: auto;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 2rem;

}

.contributions-text {
    margin-top: 5rem;
    color: #000;
    text-align: center;
    font-family: Lato;
    font-size: 1.35156rem;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 6rem;
    line-height: normal;
}

.text {
    margin-top: 6rem;
}

.grayblock {
    background-color: #D9D9D9;
    margin: 2.5rem;
    border-radius: 1rem;
    padding: 2rem;
    margin-top: 2rem;
    height: 60vh;
}

.bgimg {
    background-color: #FF8D8D;
    width: 80%;
    margin: auto;
    border-radius: 1rem;
    margin-bottom: 5rem;
}

.stats {
    text-align: center;
    padding: 2rem;
}

.text {
    margin: 0;
}

.number {
    color: #000;
    font-family: Lato;
    font-size: 2.375rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.03563rem;
}

.red-block {
    width: 80%;
    height: 25rem;
    background-color: #CECECE;
    margin: auto;
    border-radius: 1rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin-bottom: 2rem;
}

.carousel {
    margin-top: 5rem;
}