footer {
  background: #0a3e33;
  padding: 1rem 3rem;
  color: var(--bg-color);
  width: 100%;
  font-family: "Lato-Regular", Helvetica;
}

.footer .top {
  width: 100%;
  justify-content: space-between;
}

.footer .top .left {
  gap: 20px;
}

.footer .top .left h1.title {
  font-size: 2rem;
  font-weight: 600;
}

.footer .top .left .link-wrapper {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  grid-gap: 10px;
}

.footer .top .left .link-wrapper a {
  text-decoration: none;
  color: var(--bg-color);
  font-family: "Lato-Regular", Helvetica;
  font-weight: 500;
}

.footer .top .left .social-links {
  margin-top: 5px;
  width: 80%;
  justify-content: space-between;
}

.footer .top .right {
  max-width: 40%;
}
.footer .top .right span {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.footer .top .right .subscribe input,
.footer .top .right .subscribe button {
  outline: none;
  background: transparent;
  border: #58867b solid 2px;
  padding: 1rem 1.85rem;
  color: var(--bg-color);
}

/* Style the custom checkbox */
.footer .top .right .checkbox {
  margin-top: 5px;
}
.footer .top .right .checkbox label::before {
  content: ""; /* Add a pseudo-element for the custom checkbox */
  display: inline-block;
  width: 15px; /* Adjust the size of the custom checkbox */
  height: 15px; /* Adjust the size of the custom checkbox */
  background-color: transparent;
  border: 2px solid var(--bg-color); /* Border color for the checkbox */
  border-radius: 3px; /* Rounded corners for the checkbox */
  margin-right: 10px; /* Adjust the spacing between the checkbox and label */
}

.footer .top .right .checkbox input[type="checkbox"] {
  opacity: 0;
}

/* Style the custom checkbox when it's checked */
.footer .top .right .checkbox input[type="checkbox"]:checked + label::before {
  background-color: var(
    --bg-color
  ); /* Change the background color when checked */
}

/* Style the label text */
.checkbox label {
  font-size: 1rem;
  color: var(--bg-color);
  text-align: center;
  cursor: pointer; /* Show a pointer cursor on hover */
}

/* Optional: Add some padding to the label text */
.checkbox label {
  padding-left: 5px; /* Adjust as needed */
}

footer .bottom {
  margin-top: 30px;
  width: 100%;
  border-top: 1.5px solid var(--bg-color);
  align-items: flex-start;
}
footer .bottom .row-footer {
  margin-top: 10px;
  gap: 10px;
}

footer .bottom .row-footer a {
  border-right: 1px solid var(--bg-color);
  font-weight: 500;
  color: var(--bg-color);
  padding: 5px 20px 5px 0px;
  text-decoration: none !important;
}

footer .bottom span.text {
  margin-top: 4px;
}
footer .bottom .copyright {
  margin-top: 20px;
}
