@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

body {
    background: url('/public/Ellipse4.svg'), url("/public/Ellipse5.svg"), url("/public/Vector13.svg");
    background-repeat: no-repeat;
    background-position-y: 10rem, 20rem, 80rem;
    background-position-x: 0, 0, 50%;
}